<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <h2>{{ name }}</h2>
    <table width='600' border='1'>
        <tr>
            <th>Fields</th>
            <th>Data</th>
        </tr>

        <tr>
            <td>Email</td>
            <td>{{ email }} </td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ phone }} </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>{{ comment }} </td>
        </tr>
    </table>
</body>
</html>